# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.
#
# ,--------.      ,--.   ,--. ,--.
# '--.  .--',---.  \  `.'  /,-'  '-.
#    |  |  | .-. :  .'    \ '-.  .-'
#    |  |  \   --. /  .'.  \  |  |
#    `--'   `----''--'   '--' `--'

# config file for demo site, DELETE IT IF YOU WANT.


## => Site Settings
##############################
text_skin: default # "default" (default), "dark", "forest", "ocean", "chocolate", "orange"
highlight_theme: default # "default" (default), "tomorrow", "tomorrow-night", "tomorrow-night-eighties", "tomorrow-night-blue", "tomorrow-night-bright"
url     : https://pzweuj.github.io
baseurl : /docs
title   : 生物信息实践
description: >
  想叫最差实践，意思是至少还能实践呀


## => Language and Timezone
##############################
lang: zh-Hans # the language of your site, default as "en"
timezone: Asia/Shanghai


## => Author and Social
##############################
author:
  type      : # "person" (default), "organization"
  name      : pzweuj
  url       :
  avatar    : 
  bio: >
    用于整理各种分析流程！
  email     : pzweuj@live.com
  facebook  :
  twitter   : 
  weibo     : 
  googleplus: 
  telegram  :
  medium    :
  zhihu     :
  douban    :
  linkedin  :
  github    : pzweuj
  npm       :


## => GitHub Repository (if the site is hosted by GitHub)
##############################
repository: pzweuj/pzweuj.github.io
repository_tree: master


## => Paths
##############################
paths:
  root    : # title link url, "/" (default)
  home    :  # home layout url, "/" (default)
  archive : # "/archive.html" (default)
  rss     : # "/feed.xml" (default)


## => Post
##############################
## excerpt
excerpt_separator: <!--more-->

## license
license: CC-BY-4.0 # "CC-BY-4.0", "CC-BY-SA-4.0", "CC-BY-NC-4.0", "CC-BY-ND-4.0"

## TOC
toc:
  selectors: # "h1,h2,h3" (default)


## => Markdown Enhancements
##############################
## Mathjax
mathjax: true # false (default), true
mathjax_autoNumber: true # false (default), true

## Mermaid
mermaid: true # false (default), true

## Chart
chart: true # false (default), true


## => Paginate
##############################
paginate: 8
paginate_path: /page:num # don't change this unless for special need


## => Sources
##############################
sources: # bootcdn (default), unpkg


## => Sharing
##############################
sharing:
  provider:  # false (default), "addtoany", "addthis", "custom"

  ## AddThis
  addthis:
    id:  # AddThis pubid, e.g. ra-5xxxxxxxxxxx


## => Comments
##############################
comments:
  provider: gitalk # false (default), "disqus", "gitalk", "valine", "custom"
  # provider: valine

  ## Disqus
  disqus:
    shortname: # the Disqus shortname for the site

  ## Gitalk
  # please refer to https://github.com/gitalk/gitalk for more info.
  gitalk:
    clientID    : 8ad9eb9adde22f7d620e
    clientSecret: 0bc89357f4ff8502086ed5736184e9aa0c5ab17f
    repository  : pzweuj.github.io
    owner       : pzweuj
    admin:
      - pzweuj

  ## Valine
  # please refer to https://valine.js.org/en/ for more info.
  valine:
    app_id      : 
    app_key     : 
    placeholder : # Prompt information


## => Pageview
##############################
pageview:
  provider:  # false (default), "leancloud", "custom"

  ## Leancloud
  leancloud:
    app_id    : 
    app_key   : 
    app_class : 


## => Search
##############################
search:
  provider: default # "default" (default), false, "google", "custom"

  ## Google Custom Search Engine
  google:
    custom_search_engine_id: # Google Custom Search Engine ID


## => Analytics
##############################
analytics:
  provider: google # false (default), "google", "custom"

  ## Google Analytics
  google:
    tracking_id : UA-131202162-1
    anonymize_ip: true


## => Build
##############################
markdown    : kramdown
highlighter : rouge
permalink   : date

exclude:
  - CHANGELOG.md
  - HOW_TO_RELEASE.md
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README-*.md
  - README.md
  - gulpfile.js
  - jekyll-text-theme.gemspec
  - package-lock.json
  - package.json
  # - /docs
  - /node_modules
  # - /screenshots
  # - /test
  - /vendor
  - /_posts
  - /index.html

collections_dir: docs
collections:
  docs:
    output: true
  sample_page:
    output: true
  sample_articles:
    output: true
  sample_languages:
    output: true

defaults:
  ## home
  - scope:
      path: "test"
    values:
      articles:
        excerpt_type: html
  ## posts
  - scope:
      path: ""
      type: posts
    values:
      layout: article
      sharing: true
      license: true
      category: post
      aside:
        toc: true
      show_edit_on_github: false
      show_subscribe: false
      pageview: true
      # lightbox: true
  ## samples
  - scope:
      path: ""
      type: sample_page
    values:
      nav_key: samples
  - scope:
      path: ""
      type: sample_articles
    values:
      nav_key: samples
      show_date: false
  - scope:
      path: ""
      type: sample_languages
    values:
      layout: article
      nav_key: samples
      show_date: false
  ## docs
  - scope:
      path: "_docs/zh"
    values:
      layout: article
      nav_key: docs
      sidebar:
        nav: docs-zh
      license: true
      aside:
        toc: true
      lang: zh
      show_edit_on_github: false
      show_date: false
      # lightbox: true


## => Plugins
##############################
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-github-metadata
  - jemoji

data_dir: /docs/_data